.sign-up-head{
    margin-bottom: 4%;
}
/* .header{
    margin-bottom: 25%;
} */
.fp-warm-msg{
    color: #444;
    line-height: 1.5;
}
.cbtn-wrapper{
    margin-top: 15%;
}
.sign-in-banner{
    margin-bottom: 15%;
}
